{% extends "base.html" %}

{% block app_content %}
	<h1>{{ composer_surname }}</h1>

	<h3>Biographical Information</h3>
	<table>
		<col width="150">
		<col width="300">
		{% for key, value in composer_info_dict.items() %}
			<tr>
				<td>{{ key }}</td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}
	</table>
	<h3>Pieces Analyzed </h3>
	{% for piece_id, piece_name in piece_id_name_tuples %}
		<ul>
			<li><a href="/piece/{{ piece_id }}">{{ piece_name }}</a></li>
		</ul>
	{% endfor %}
{% endblock %}

