{% extends "base.html" %}

{% block app_content %}
    <h1>Welcome to the Sonata Archives!</h1>
    <br>

    <p>This project serves a knowledge repository for formal music theory analyses of
        sonatas (and other classical pieces in dialogue with "Sonata Form").</p>
    <p>It was created in 2018 by Hendrik Kits van Heyningen, inspired by work in the field of "Sonata Theory"
        by Hepokoski, Darcy and Monahan.</p>
    <br>
    <img src="/static/images/sonata_form.jpg" width=600>

    <hr>
    <p>All pieces are categorized by composer, so click the link below to see all considered composers!</p>
    <h3><a href="/composers">Composers</a></h3>
{% endblock %}

