{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Sonata Archives</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/pieces">Pieces</a></li>
                    <li><a href="/composers">Composers</a></li>
                    <li><a href="/composers/{{ composer_id }}">{{ composer_surname }}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block app_content %}
    <h1 class="composer_surname">{{ composer_surname }}</h1>
    <hr>
    <h2 class="piece_attributes">{{ piece_name }}</h2>
    <table class="piece_attributes">
        <col class="piece_attributes_key">
        <col class="piece_attributes_value">
        {% for attribute, value in piece_info_dict.items() %}
            {% if value is not none %}
                <tr>
                    <td>{{ attribute }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <hr>
    {% for movement_num in sonatas_info_dict %}
        {# movement_num 0 means the piece is itself the sonata #}
        {% if movement_num != 0 %}
            <a name="{{ movement_num }}"></a>
            <h3 class="sonata_name">Movement {{ movement_num }}</h3>
        {% endif %}
        <div class="container">
            <div id="sonata_attribute_box">
                <table class="sonata_attributes">
                    <col class="sonata_attributes_key">
                    <col class="sonata_attributes_value">
                    {% for attribute, value in sonatas_info_dict[movement_num].items() %}
                        {% if value is not none %}
                            <tr>
                                <td>{{ attribute }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                {% for block_name in sonatas_blocks_info_dict[movement_num] %}
                    <h4 class="sonata_block_attributes"> {{ block_name }}</h4>
                    <table class="sonata_block_attributes">
                        <col class=sonata_block_attributes_key>
                        <col class="sonata_block_attributes_value">
                        {% for attribute, value in sonatas_blocks_info_dict[movement_num][block_name].items() %}
                            {% if value is not none %}

                                {% if value is mapping %} {# Check if dict #}
                                    <tr>
                                        <td>{{ attribute }}</td>
                                        <td></td>
                                    </tr>
                                    {% for k, v in value.items() %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ k }}</td>
                                            <td>{{ v }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% elif value is iterable and value is not string %}{# Check if list #}
                                    {% for x in value %}
                                        {% if loop.index0 == 0 %}
                                            <tr>
                                                <td> {{ attribute }}</td>
                                                <td>{{ x }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td></td>
                                                <td>{{ x }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% else %} {# Check if scalar (normal case) #}
                                    <tr>
                                        <td>{{ attribute }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
            <div id="sonata_image_box">

                {% if movement_num in sonatas_lilypond_image_settings_dict %}
                    <img src="{{ sonatas_lilypond_image_settings_dict[movement_num][IMAGE_PATH] }}"
                         width={{ sonatas_lilypond_image_settings_dict[movement_num][IMAGE_WIDTH] }}>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}

